.App {
  text-align: center;
}

.heading {
    background: #191414 0% 0% no-repeat padding-box;
    opacity: 1;
    width:100%;
    font: Bold 24px/42px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding:5vh;
}

.separator {
    border: 2px solid #FFFFFF;
    opacity: 1;
}

.profileContainer {
    background: #191414 0% 0% no-repeat padding-box;
    opacity: 1;
    width:100%;
    letter-spacing: 0px;
    color: #FFFFFF;
}
