/*
To align with Spotify: https://developer.spotify.com/branding-guidelines/
*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --accent: #1DB954;
    --dark: #191414;
    --dark70: rgba(25, 20, 20, .7);
    --light: #FFFFFF;
    --transition: all 0.3s ease 0s;
}

html, body {
    height:100%;
    overflow: auto;
}

body {
    background:
        linear-gradient(
            var(--dark70),
            var(--dark70)
        ),
        url('./img/waiting-for-transit.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.App {
    text-align: center;
}

.appHeadingContainer {
    background: var(--accent) 0% 0% no-repeat padding-box;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width:100%;
}

.heading {
    text-align: center;
    opacity: 1;
    font: Bold 42px Lobster;
    color: var(--light);
    letter-spacing: 2px;
}

.fromSpotify {
    font: Bold 24px Lobster;
    color: var(--light);
}

.separator {
    border: .5px solid var(--acent);
    height:10px;
    opacity: 1;
}

.profileContainer {
    text-align: left;
    background: var(--dark) 0% 0% no-repeat padding-box;
    opacity: .9;
    width: 100%;
    letter-spacing: 0px;
    color: var(--light);
}

.loginContainer {
    text-align: center;
    background: var(--dark) 0% 0% no-repeat padding-box;
    opacity: .8;
    width: 100%;
    letter-spacing: 0px;
    color: var(--light);
    padding: 15px;
}

.loginLink {
    color: var(--light);
    border: 1px solid var(--accent);
    background-color: var(--accent);
    font-size: 125%;
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
    padding: 7px;
    border-radius: 30px;
    text-decoration: none;
}

.headerContainer {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: underline;
}

.profileGrid {
    display: grid;
}

.labelDataWrapper {
    padding: 3px;
}

.labelDataWrapper > div {
    display:inline-block;
}

.profileLabel {
    font-family: "Lato", sans-serif;
    font-weight: 700;
}
